In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression, LinearRegression
import tensorflow as tf

In [35]:
# Caricamento del df
df_train = pd.read_csv('dataset/train.csv')

In [36]:
# Informazioni generali, ci interessa il df_test per evitare di toccare la nostra target
print(df_train.shape)
df_train.info

(20000, 22)

<bound method DataFrame.info of                                        Location  \
0       4500    CARPENTER                    AV
1               45TH                         ST
2        600 E  MARTIN LUTHER KING JR        BL
3      14900    ORO GRANDE                   ST
4       7100 S  VERMONT                      AV
...                                         ...
19995   5100 W  ADAMS                        BL
19996  16900    ROSCOE                       BL
19997   1000 S  SHENANDOAH                   ST
19998    300 W  SEPULVEDA                    ST
19999           DALTON                       AV

                          Cross_Street  Latitude  Longitude  \
0                                  NaN   34.1522  -118.3910
1      ALAMEDA                      ST   34.0028  -118.2391
2                                  NaN   34.0111  -118.2653
3                                  NaN   34.2953  -118.4590
4                                  NaN   33.9787  -118.2918
...                                ...       ...        ...
19995                              NaN   34.0334  -118.3523
19996                              NaN   34.2212  -118.5011
19997                              NaN   34.0571  -118.3815
19998                              NaN   33.7451  -118.2835
19999  VERNON                       AV   34.0037  -118.3034

                Date_Reported           Date_Occurred  Time_Occurred  Area_ID  \
0      03/09/2020 12:00:00 AM  03/06/2020 12:00:00 AM         1800.0     15.0
1      02/27/2020 12:00:00 AM  02/27/2020 12:00:00 AM         1345.0     13.0
2      08/21/2020 12:00:00 AM  08/21/2020 12:00:00 AM          605.0     13.0
3      11/08/2020 12:00:00 AM  11/06/2020 12:00:00 AM         1800.0     19.0
4      02/25/2020 12:00:00 AM  02/25/2020 12:00:00 AM         1130.0     12.0
...                       ...                     ...            ...      ...
19995  05/24/2020 12:00:00 AM  05/24/2020 12:00:00 AM          700.0      3.0
19996  12/25/2020 12:00:00 AM  12/25/2020 12:00:00 AM          259.0     10.0
19997  09/25/2020 12:00:00 AM  09/25/2020 12:00:00 AM         1400.0      8.0
19998  06/10/2020 12:00:00 AM  06/10/2020 12:00:00 AM          600.0      5.0
19999  02/18/2020 12:00:00 AM  02/17/2020 12:00:00 AM         1800.0      3.0

         Area_Name  Reporting_District_no  ...  Victim_Age Victim_Sex  \
0      N Hollywood                 1563.0  ...        75.0          M
1           Newton                 1367.0  ...        41.0          M
2           Newton                 1343.0  ...        67.0          M
3          Mission                 1924.0  ...        61.0          M
4      77th Street                 1245.0  ...         0.0          X
...            ...                    ...  ...         ...        ...
19995    Southwest                  303.0  ...        51.0          M
19996  West Valley                 1008.0  ...         0.0          M
19997      West LA                  849.0  ...        42.0          M
19998       Harbor                  558.0  ...        76.0          F
19999    Southwest                  397.0  ...         0.0        NaN

       Victim_Descent Premise_Code     Premise_Description  Weapon_Used_Code  \
0                   W        101.0                  STREET               NaN
1                   H        216.0               SWAP MEET             400.0
2                   B        501.0  SINGLE FAMILY DWELLING               NaN
3                   H        101.0                  STREET               NaN
4                   X        401.0               MINI-MART             400.0
...               ...          ...                     ...               ...
19995               H        501.0  SINGLE FAMILY DWELLING             400.0
19996               W        301.0             GAS STATION               NaN
19997               H        102.0                SIDEWALK               NaN
19998               H        501.0  SINGLE FAMILY DWELLING               NaN
19999             NaN        101.0                  STREET               NaN

                                   Weapon_Description  Status  \
0                                                 NaN      IC
1      STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)      IC
2                                                 NaN      IC
3                                                 NaN      IC
4      STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)      IC
...                                               ...     ...
19995  STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)      IC
19996                                             NaN      IC
19997                                             NaN      IC
19998                                             NaN      IC
19999                                             NaN      IC

      Status_Description               Crime_Category
0            Invest Cont              Property Crimes
1            Invest Cont              Property Crimes
2            Invest Cont              Property Crimes
3            Invest Cont              Property Crimes
4            Invest Cont              Property Crimes
...                  ...                          ...
19995        Invest Cont               Violent Crimes
19996        Invest Cont              Property Crimes
19997        Invest Cont              Property Crimes
19998        Invest Cont  Crimes against Public Order
19999        Invest Cont              Property Crimes

[20000 rows x 22 columns]>

In [37]:
# Statistiche generali, anche categoriche
df_train.describe(include='all')

,Location,Cross_Street,Latitude,Longitude,Date_Reported,Date_Occurred,Time_Occurred,Area_ID,Area_Name,Reporting_District_no,...,Victim_Age,Victim_Sex,Victim_Descent,Premise_Code,Premise_Description,Weapon_Used_Code,Weapon_Description,Status,Status_Description,Crime_Category
count,20000,3448,20000.000000,20000.000000,20000,20000,20000.000000,20000.000000,20000,20000.000000,...,20000.000000,17376,17376,20000.000000,19995,7335.000000,7335,20000,20000,20000
unique,12399,1495,NaN,NaN,811,366,NaN,NaN,21,NaN,...,NaN,4,17,NaN,216,NaN,57,5,5,6
top,6TH,BROADWAY,NaN,NaN,07/13/2020 12:00:00 AM,01/01/2020 12:00:00 AM,NaN,NaN,77th Street,NaN,...,NaN,M,H,NaN,STREET,NaN,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Property Crimes
freq,33,56,NaN,NaN,87,137,NaN,NaN,1345,NaN,...,NaN,8538,6143,NaN,5033,NaN,3990,15236,15236,11666
mean,NaN,NaN,33.940704,-117.893072,NaN,NaN,1352.380350,10.834250,NaN,1129.599200,...,30.135000,NaN,NaN,297.176950,NaN,366.405044,NaN,NaN,NaN,NaN
std,NaN,NaN,2.126810,7.377726,NaN,NaN,646.100291,6.033166,NaN,603.330519,...,21.863645,NaN,NaN,212.007298,NaN,120.485687,NaN,NaN,NaN,NaN
min,NaN,NaN,0.000000,-118.663400,NaN,NaN,1.000000,1.000000,NaN,101.000000,...,-2.000000,NaN,NaN,101.000000,NaN,101.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,34.009200,-118.429700,NaN,NaN,930.000000,6.000000,NaN,632.000000,...,12.000000,NaN,NaN,101.000000,NaN,312.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,34.058700,-118.323000,NaN,NaN,1430.000000,11.000000,NaN,1162.000000,...,31.000000,NaN,NaN,203.000000,NaN,400.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,34.165025,-118.274400,NaN,NaN,1900.000000,16.000000,NaN,1622.000000,...,46.000000,NaN,NaN,501.000000,NaN,400.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,34.328100,0.000000,NaN,NaN,2359.000000,21.000000,NaN,2197.000000,...,99.000000,NaN,NaN,969.000000,NaN,515.000000,NaN,NaN,NaN,NaN

In [38]:
# Visualizzo le prime 20 righe
df_train.head(10)

,Location,Cross_Street,Latitude,Longitude,Date_Reported,Date_Occurred,Time_Occurred,Area_ID,Area_Name,Reporting_District_no,...,Victim_Age,Victim_Sex,Victim_Descent,Premise_Code,Premise_Description,Weapon_Used_Code,Weapon_Description,Status,Status_Description,Crime_Category
0,4500 CARPENTER AV,NaN,34.1522,-118.3910,03/09/2020 12:00:00 AM,03/06/2020 12:00:00 AM,1800.0,15.0,N Hollywood,1563.0,...,75.0,M,W,101.0,STREET,NaN,NaN,IC,Invest Cont,Property Crimes
1,45TH ST,ALAMEDA ST,34.0028,-118.2391,02/27/2020 12:00:00 AM,02/27/2020 12:00:00 AM,1345.0,13.0,Newton,1367.0,...,41.0,M,H,216.0,SWAP MEET,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Property Crimes
2,600 E MARTIN LUTHER KING JR BL,NaN,34.0111,-118.2653,08/21/2020 12:00:00 AM,08/21/2020 12:00:00 AM,605.0,13.0,Newton,1343.0,...,67.0,M,B,501.0,SINGLE FAMILY DWELLING,NaN,NaN,IC,Invest Cont,Property Crimes
3,14900 ORO GRANDE ST,NaN,34.2953,-118.4590,11/08/2020 12:00:00 AM,11/06/2020 12:00:00 AM,1800.0,19.0,Mission,1924.0,...,61.0,M,H,101.0,STREET,NaN,NaN,IC,Invest Cont,Property Crimes
4,7100 S VERMONT AV,NaN,33.9787,-118.2918,02/25/2020 12:00:00 AM,02/25/2020 12:00:00 AM,1130.0,12.0,77th Street,1245.0,...,0.0,X,X,401.0,MINI-MART,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,Property Crimes
5,300 N AVENUE 57,NaN,34.1127,-118.1942,01/10/2020 12:00:00 AM,01/10/2020 12:00:00 AM,256.0,11.0,Northeast,1118.0,...,50.0,M,H,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,Violent Crimes
6,1600 N SOTO ST,NaN,34.0623,-118.1980,08/17/2020 12:00:00 AM,08/17/2020 12:00:00 AM,1840.0,4.0,Hollenbeck,448.0,...,0.0,X,X,202.0,LIQUOR STORE,NaN,NaN,IC,Invest Cont,Property Crimes
7,12600 BRADDOCK DR,NaN,33.9864,-118.4239,10/07/2021 12:00:00 AM,03/19/2020 12:00:00 AM,1100.0,14.0,Pacific,1455.0,...,68.0,F,W,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,Property Crimes
8,5500 COLDWATER CA AV,NaN,34.1781,-118.4179,01/28/2020 12:00:00 AM,01/26/2020 12:00:00 AM,1600.0,9.0,Van Nuys,939.0,...,0.0,NaN,NaN,104.0,DRIVEWAY,NaN,NaN,IC,Invest Cont,Property Crimes
9,11500 AVIATION BL,NaN,33.9298,-118.3784,07/07/2020 12:00:00 AM,07/07/2020 12:00:00 AM,445.0,14.0,Pacific,1499.0,...,22.0,F,H,108.0,PARKING LOT,NaN,NaN,AA,Adult Arrest,Property Crimes

In [39]:
df_train[df_train['Crime_Category'] == 'Other Crimes']['Part 1-2']

10       2.0
214      2.0
332      2.0
345      2.0
470      2.0
        ...
19607    2.0
19734    2.0
19775    2.0
19811    2.0
19910    2.0
Name: Part 1-2, Length: 179, dtype: float64